[Unit]
Description=vpn service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/udp_server 5000
WorkingDirectory=/home/nec/

[Install]
WantedBy=multi-user.target